@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,600&display=swap');
@import url(//db.onlinewebfonts.com/c/3a2035962fc694a93594cd49b139e6c8?family=RoperSerif);
 :root {
    --background: linear-gradient(135deg, #9d4edd 0%, #5a189a  100%);
    --color-primary: #9d4edd;
    --color-secondary: #5a189a;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    /*background: red;*/
    overflow: hidden;
    padding: 10px 0;
    max-width: 120;
}


/*Para cambiar el color de class subtitle por medio del --color-primary declarado en el :root*/

.hero {
    height: 100vh;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container {
    padding: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav__items {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.hero__container {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__texts {
    width: 80%;
    margin-bottom: 50px;
}

.hero__title {
    font-size: 3.2rem;
    font-weight: 300;
    margin: 15px 0;
    color: #fff;
    font-family: "RoperSerif";
}

.hero__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.presentation {
    text-align: center;
    padding-top: 0;
}

.presentation__picture {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 50px;
    object-fit: cover;
    object-position: top;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 5px 5px 7px 5px rgba(0,0,0,0.1); 
box-shadow: 5px 5px 7px 5px rgba(0,0,0,0.1);
}


/*iframe*/

.morat__music {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.morat__music .container__music {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 16px;
    place-content: center;
    padding: 16px;
}

.morat__music iframe {
    width: 400px;
    height: 280px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#description_container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    display: flex;
    height: 150px;
    width: 810px;
    background-color: #60308c;
    border-radius: 10px;
    color: #fff;

}

.description span{
    height: 70px;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 20%;
}

#logo{
    height: 100px;
    width: auto;
    color: #fff;
    margin: 20px;
    position: relative;
    top: 5px;
}

footer{
    height: 50px;
    width: 100%;
    background-color: #60308c;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px -6px 7px 3px rgba(0,0,0,0.1); 
box-shadow: 0px -6px 7px 3px rgba(0,0,0,0.1);
}



